* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.grid-produits-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px black;
    width: 50%;
    margin: 10px;
}
.basketButton {
    width: 48px;
    height: 32px;
    border: solid 1px black;
    text-align: center;
    pointer-events: auto;
}
.error {
    color: red;
    font-size: 1em;
    margin-top: 5px;
}
.inputerror {
    border: 2px solid #ff0000;
    box-shadow: 2px 2px 2px 2px #f38a8a;
}
.validation {
    color: #00ff00;
    font-weight: 700;
    font-size: 2em;
}
